<div class="drums">
  <div class="drums__top">
    <div class="drums__on" id="drumsSwitch">
      <label class="checkbox drums__on-btn" for="switchDrums">
        <input class="checkbox__inp" type="checkbox" role="checkbox" id="switchDrums">
        <span class="checkbox__inner">SOUND OFF</span>
      </label>
    </div>
    <div class="drums__btns">
      <img class="drums__btns-img" src="./assets/images/buttons.png" alt="">
    </div>
    <div class="drums__equal">
      <img class="drums__equal-img" src="./assets/images/equal.png" alt="">
    </div>
  </div>
  <div class="drums__middle">
    <div class="drums__left drums__btn-block">
      <div class="drums__btn grey-btn card">
        <div class="flip-card-container" id="drumsFirst">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                <span class="btn-space">Weddings</span> and Receptions
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Experienced DJ helps couples plan their big day! Speakers, microphones, music and MC services provided. Couples get to focus on their experience.
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn yellow-btn card">
        <div class="flip-card-container" id="drumsSecond">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                <span class="btn-space">Dance</span> Competitions
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Larger speaker setup for a gym space including wired and wireless microphone. Attention given to dancers walking on and starting and stopping the music at the right time.
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn grey-btn card">
        <div class="flip-card-container" id="drumsThird">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                Corporate events
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Full management of the sound, video, and audio needs, including having a sound tech available through out the event. Can do multiple room set ups.
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn  yellow-btn card">
        <div class="flip-card-container" id="drumsFourth">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                Fun runs
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Large outdoor speaker setups with wireless microphones for administrators with family friendly songs. High energy happy music while kids run around their schools!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="drums__right drums__btn-block">
      <div class="drums__btn red-btn card">
        <div class="flip-card-container" id="drumsFifth">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                <span class="btn-space">Private events &</span> House Parties
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Smaller private party within homes or smaller locations. DJ provides sound and lights and music and keeps the party moving!
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn black-btn card">
        <div class="flip-card-container" id="drumsSixth">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                Live sound events
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Sounds support for bands. Speakers, monitors, microphones and management of the mixer. Bands get to focus on their music, not the gear.
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn red-btn card">
        <div class="flip-card-container" id="drumsSeventh">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                Outdoor events
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Speakers, microphones and power station! Every outdoor event is different. Custom setups for every event 
            </p>
          </div>
        </div>
      </div>
      <div class="drums__btn black-btn card">
        <div class="flip-card-container"  id="drumsEighth">
          <div class="card-front">
            <div class="drums__front-wrapper">
              <p class="drums__btn-content">
                Family Reunions
              </p>
            </div>
          </div>
          <div class="card-back">
            <p class="card-back__content">
              Various sized sound set up for all kinds of family sized event! Including all speakers, wireless microphones, record players and more!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drums__bottom">
    <div class="drums__mic">
      <img class="drums__mic-img" src="./assets/images/mic.png" alt="">
    </div>
    <div class="drums__vol">
      <img class="drums__vol-img" src="./assets/images/vol.png" alt="">
    </div>
  </div>
</div>