<section class="about-us animate__animated animate__fadeIn" data-wow-delay="3s" data-wow-duration="2s" id="about">
  <div class="container about-us__container">
    <div class="about-us__top wow animate__animated animate__fadeIn" data-wow-duration="1s">
      <h4 class="about-us__heading section-heading">About Us</h4>
      <span class="section-decoration"></span>
    </div>
    <div class="about-us__bottom">
      <div class="about-us__content-block">
        <svg class="light-big-svg">
          <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
        </svg>
        <h5 class="about-us__heading-content animate__animated animate__fadeIn wow" data-wow-delay=".5s"
          data-wow-duration="2s"><strong class="about-us__strong">10+</strong>years of experience</h5>
          <button class="about-us__accr-btn animate__animated animate__fadeIn wow" data-wow-delay=".5s">
            <svg class="accr-svg">
              <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#drop"></use>
            </svg>
          </button>
        <div class="about-us__content-wrapper">
          <p class="about-us__content animate__animated animate__fadeInRight wow" data-wow-delay=".5s"
            data-wow-duration="2s">We have 10 plus years doing parties ranging from small house parties, School Fun
            Runs, restaurant openings, Live sound for bands to large corporate events which include multiple rooms, with
            screens and projectors. We also use quality equipment as well as integrate broadcasts over zoom.</p>
        </div>
      </div>
      <div class="about-us__content-block">
        <svg class="light-small-svg">
          <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
        </svg>
        <h5 class="about-us__heading-content animate__animated animate__fadeIn wow" data-wow-delay=".8s"
          data-wow-duration="2s"><strong class="about-us__strong">20+</strong>satisfied clients</h5>
          <button class="about-us__accr-btn animate__animated animate__fadeIn wow" data-wow-delay=".8s">
            <svg class="accr-svg">
              <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#drop"></use>
            </svg>
          </button>
        <div class="about-us__content-wrapper">
          <p class="about-us__content animate__animated animate__fadeInRight wow" data-wow-delay=".8s"
            data-wow-duration="2s">When it comes to <strong class="about-us__strong-content">DJing</strong> the most
            important thing for us is to get people out
            dancing! We love helping people let loose and have a great time! When it comes to <strong
              class="about-us__strong-content">live sound</strong> events, our
            biggest focus is professionally taking care of all the technical sound stuff, so you will sound great and
            can
            focus on your event!</p>
        </div>
      </div>
      <div class="about-us__content-block">
        <h5 class="about-us__heading-content animate__animated animate__fadeIn wow" data-wow-delay="1s"
          data-wow-duration="2s"><strong class="about-us__strong">10+</strong>event types</h5>
          <button class="about-us__accr-btn animate__animated animate__fadeIn wow" data-wow-delay="1s">
            <svg class="accr-svg">
              <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#drop"></use>
            </svg>
          </button>
        <div class="about-us__content-wrapper">
          <p class="about-us__content animate__animated animate__fadeInRight wow" data-wow-delay="1s"
            data-wow-duration="2s">Easy to work with, and we take the time to meet with you to help define your vision
            for an event. Very flexible during an event and on hand to address any issues to make sure events go
            smoothly.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>