<section class="banner animate__animated animate__fadeInwow" data-wow-delay="0.5s" data-wow-duration="1s">
  <div class="banner__wrapper">
      <div class="container banner__container">
    <div class="banner__top animate__animated animate__fadeInLeft wow" data-wow-delay="0.8s" data-wow-duration="2s">
      <h1 class="banner__heading heading">Dynamic Beats</h1>
      <h2 class="banner__second-heading heading">DJ-Sound Engineering</h2>
      <p class="banner__top-content">Start with a no obligation discussion</p>
    </div>
    <div class="banner__bottom">
      <div class="banner__bottom-left">
        <a href="#contact" class="banner__contact-link banner-link wow animate__animated animate__fadeIn" data-wow-delay="2s" data-wow-duration="1.8s">Contact Us</a>
      </div>
      <div class="banner__bottom-right animate__animated animate__fadeInRight wow" data-wow-delay="1.5s" data-wow-duration="2s">
        <p class="banner__bottom-content">Working With You To Make Your Event a success From start to finish!</p>
        <a href="#about" class="banner__learn-more-link banner-link">Learn More</a>
      </div>
    </div>
  </div>
  </div>
</section>