<section class="events" id="events">
  <div class="events__light-wrapper">
    <svg class="light-big-svg">
      <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
    </svg>
    <svg class="light-small-svg">
      <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
    </svg>
  </div>
  <div class="container events__container">
    <div class="events__top wow animate__animated animate__fadeIn" data-wow-duration="1s" data-wow-delay="1s">
      <h4 class="events__heading section-heading">Types of events</h4>
      <span class="section-decoration"></span>
    </div>
    <div class="events__middle animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="1.2s">
      <p class="events__middle-content">Drop a beat with  me today! Tap the squares to make some sound!</p>
    </div>
    <div class="events__bottom animate__animated animate__fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
      @include('../components/drums.html')
    </div>
  </div>
</section>