<section class="services" id="services">
  <div class="container services__container">
    <div class="services__top animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay=".3s">
      <h4 class="services__heading section-heading">Services & Packages</h4>
      <span class="section-decoration"></span>
    </div>
    <div class="services__swiper-controls-wrapper">
      <div class="services__swiper-controls">
        <div class="services__swiper-control services__swiper-prev swiper-button-prev">
          <svg class="swiper-arrow swiper-arrow__prev">
            <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="services__swiper-control services__swiper-next swiper-button-next">
          <svg class="swiper-arrow swiper-arrow__next">
            <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="services__swiper swiper animate__animated animate__fadeIn wow" data-wow-duration="2s">
      <ul class="services__list swiper-wrapper">
        <li class="services__item swiper-slide">
          <div class="services__card">
            <div class="services__card-top">
              <h3 class="services__card-heading services-dj services-img">DJ Work</h3>
            </div>
            <div class="services__card-middle">
              <div class="services__package">
                <h4 class="services__package-heading">Normal package (moderately sized space, like most wedding
                  venues)</h4>
                <ul class="services__package-list">
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Set up and take down the equipment
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Custom music selection
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Open to requests
                    </p>
                  </li>
                </ul>
                <h5 class="services__package-equipment">Equipment:</h5>
                <ul class="services__package-list equipment-list">
                  <li class="services__package-item">
                    <p class="services__package-content">2 Speakers</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">1 Sub</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Basic Lighting (Stand, one laser, one complex light)</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content"> Microphone as needed</p>
                  </li>
                </ul>
                <h4 class="services__package-heading">Large Package (Gym or larger space)</h4>
                <ul class="services__package-list">
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Set up and take down the equipment
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Custom music selection
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Open to requests
                    </p>
                  </li>
                </ul>
                <h5 class="services__package-equipment">Equipment:</h5>
                <ul class="services__equipment-list">
                  <li class="services__package-item">
                    <p class="services__package-content">Large set of speakers</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Multiple subs</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Lighting truss</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Multiple wireless microphones</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Use of projectors or screens</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="services__card-bottom">
              <a href="#contact" class="services__card-link">Contact Us</a>
            </div>
          </div>
        </li>
        <li class="services__item swiper-slide">
          <div class="services__card">
            <div class="services__card-top">
              <h3 class="services__card-heading services-sound services-img">Sound Engineering<br>and AV Services</h3>
            </div>
            <div class="services__card-middle">
              <div class="services__package">
                <ul class="services__package-list">
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Set up equipment
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Operate and maintain it
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Ensure the sound quality and levels are optimal
                    </p>
                  </li>
                </ul>
                <h5 class="services__package-equipment equipmet-before-subtitle">Equipment:</h5>
                <p class="services__equipment-subtitle">Video</p>
                <ul class="services__package-list equipment-list">
                  <li class="services__package-item">
                    <p class="services__package-content">Projectors and Screens </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">HDMI Switchers </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">HDMI Duplicators </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Cabling</p>
                  </li>
                </ul>
                <p class="services__equipment-subtitle">Sound</p>
                <ul class="services__package-list services__package-sound">
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Microphones (wired and wireless)
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Monitor mixes
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Speakers
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Soundboard
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Cabling
                    </p>
                  </li>
                </ul>
                <p class="services__equipment-subtitle">Outdoor</p>
                <ul class="services__equipment-list">
                  <li class="services__package-item">
                    <p class="services__package-content">Generator and Power Statio</p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">Canopy</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="services__card-bottom">
              <a href="#contact" class="services__card-link">Contact Us</a>
            </div>
          </div>
        </li>
        <li class="services__item swiper-slide">
          <div class="services__card">
            <div class="services__card-top">
              <h3 class="services__card-heading services-rental services-img">Equipment Setup<br>and Rental</h3>
            </div>
            <div class="services__card-middle">
              <svg class="light-card-svg">
                <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
              </svg>
              <div class="services__package">
                <ul class="services__package-list">
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Set up and take down the equipment
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Custom music selection
                    </p>
                  </li>
                  <li class="services__package-item">
                    <p class="services__package-content">
                      Open to requests
                    </p>
                  </li>
                </ul>
                <p class="services__equipment-subtitle">Contact us for details</p>
              </div>
            </div>
            <div class="services__card-bottom">
              <a href="#contact" class="services__card-link">Contact Us</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="animate__animated animate__fadeIn wow">
    <svg class="light-svg">
      <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
    </svg>
  </div>
</section>