<section class="testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__top animate__animated animate__fadeIn wow" data-wow-duration="2s">
      <h4 class="testimonials__heading section-heading">testimonials</h4>
      <span class="section-decoration"></span>
    </div>
    <div class="testimonials__middle animate__animated animate__fadeInUp wow" data-wow-duration=".3s">
      <div class="testimonials__swiper-controls">
        <div class="testimonials__swiper-control testimonials__swiper-prev swiper-button-prev">
          <svg class="swiper-arrow swiper-arrow__prev">
            <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="testimonials__swiper-control testimonials__swiper-next swiper-button-next">
          <svg class="swiper-arrow swiper-arrow__next">
            <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#arrow"></use>
          </svg>
        </div>
        </div>
    </div>
    <div class="testimonials__swiper swiper animate__animated animate__fadeInUp wow" data-wow-duration="1s">
      <div class="testimonials__swiper-wrapper swiper-wrapper">
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__client">
            <img src="./assets/images/client1.png" alt="client" class="testimonials__client-avatar">
            <span class="testimonials__client-name">Ashley</span>
          </div>
          <p class="testimonials__content">
            «Mark has been providing music for our school’s fundraising events for almost ten years. Mark knows his
            audience well and can keep a huge crowd happy! Mark makes an event turn into a PARTY.»
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__client">
            <img src="./assets/images/client2.png" alt="client" class="testimonials__client-avatar">
            <span class="testimonials__client-name">Heather</span>
          </div>
          <p class="testimonials__content">
            «Mark Smith did the music for our annual company retreat for many years. Our retreat was planned for all
            year long. Mark did an awesome job of providing the perfect music for our events. I highly recommend him.»
          </p>
        </div>
        <div class="testimonials__slide swiper-slide">
          <div class="testimonials__client">
            <img src="./assets/images/client3.png" alt="client" class="testimonials__client-avatar">
            <span class="testimonials__client-name">Unimaginable Wows</span>
          </div>
          <p class="testimonials__content">
            «Take any gathering, meeting or event to a level beyond what you could have imagined! His passion and
            enthusiasm seem to have no boundaries, bring Mark, greatness follows!»
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="animate__animated animate__fadeIn wow">
    <svg class="light-svg">
      <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#light"></use>
    </svg>
  </div>
</section>