<section class="why-choose">
  <div class="container why-choose__container">
    <div class="why-choose__top animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-delay="1s">
      <h4 class="why-choose__heading section-heading">Why choose us?</h4>
      <span class="section-decoration"></span>
    </div>
  </div>
  <div class="why-choose__bottom animate__animated animate__fadeIn wow" data-wow-duration="2s" data-wow-delay="1s">
    <div class="splide why-choose__splide" role="group">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide why-choose__slide">
            <img src="./assets/images/collaboration.png" alt="" class="why-choose__img">
            <p class="why-choose__slide-content">
              <span class="why-choose__slide-content">Strong</span>
              <span class="why-choose__slide-content">collaboration</span>
              <span class="why-choose__slide-content">skills</span>
            </p>
          </li>
          <li class="splide__slide why-choose__slide">
            <img src="./assets/images/events.png" alt="" class="why-choose__img">
            <p class="why-choose__slide-content">
              <span class="why-choose__slide-content">100+</span>
              <span class="why-choose__slide-content">events</span>
            </p>
          </li>
          <li class="splide__slide why-choose__slide">
            <img src="./assets/images/serving.png" alt="" class="why-choose__img">
            <p class="why-choose__slide-content">
              <span class="why-choose__slide-content">Serving</span>
              <span class="why-choose__slide-content">the Utah</span>
              <span class="why-choose__slide-content">area</span>
            </p>
          </li>
          <li class="splide__slide why-choose__slide">
            <img src="./assets/images/years.png" alt="" class="why-choose__img">
            <p class="why-choose__slide-content">
              <span class="why-choose__slide-content">10+ years</span>
              <span class="why-choose__slide-content">doing sound</span>
              <span class="why-choose__slide-content">events</span>
            </p>
          </li>
          <li class="splide__slide why-choose__slide">
            <img src="./assets/images/group-events.png" alt="" class="why-choose__img">
            <p class="why-choose__slide-content">
              <span class="why-choose__slide-content">Family friendly events</span>
              <span class="why-choose__slide-content">Corp events</span>
              <span class="why-choose__slide-content">Fun Runs</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>