<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/images/logo.png">
  <link rel="stylesheet" href="assets/css/normalize.min.css">
  <link rel="stylesheet" href="assets/css/splide.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.min.css">
  <title>Dynamic Beats</title>
</head>

<body class="lock-scroll">
  <div style="opacity: 1; z-index: 99;" id="hideAll">
    <div class="loader">
    </div>
  </div>
  <header class="header">
    <div class="container header__container">
      <a href="#" class="logo header__logo wow animate__animated animate__fadeIn" data-wow-duration="2s">
        <img src="./assets/images/logo.png" alt="" class="logo-img">
      </a>
      <button class="nav-open wow animate__animated animate__fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
        <svg class="nav-open__svg">
          <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#menu"></use>
        </svg>
      </button>
      <nav class="header__nav">
        <button class="nav-close">
          <svg class="nav-close__svg">
            <use xlink:href="../assets/sprites/assets/sprites/sprite.svg#close"></use>
          </svg>
        </button>
        <ul class="header__nav-list wow animate__animated animate__fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">
          <li class="header__nav-item"><a href="#about" class="header__nav-link">About Us</a></li>
          <li class="header__nav-item"><a href="#events" class="header__nav-link">Events</a></li>
          <li class="header__nav-item"><a href="#gallery" class="header__nav-link">Gallery</a></li>
          <li class="header__nav-item"><a href="#services" class="header__nav-link">Services</a></li>
          <li class="header__nav-item"><a href="#contact" class="header__nav-link">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="page">